/* graph */

.graph {
  display:    inline-block;
  margin:     10px;
  padding:    10px;
  box-shadow: 1px 1px 8px 2px #CCCCCC;
  width:      550px;
  height:     650px;
}

.graph-line {
  width:  700px;
  height: auto;
}

.graph-table {
  height: auto;
}

.graph-full {
  display: block;
  width:   auto;
}

.graph-full.graph-pie {
  height: auto;
}

/* canvas */

.canvas-wrapper {
  display: inline-block;
  margin:  0;
  padding: 0;
  width:   auto;
  height:  auto;
}

.graph-full.graph-line .canvas-wrapper {
  display: block;
}

.canvas-line {
  height: 450px;
  width:  700px;
}

.graph-full .canvas-line {
  width: auto;
}

.canvas-pie {
  height: 200px;
  width:  200px;
}

.graph-full .canvas-pie {
  height: 600px;
  width:  600px;
}

/* graph legend */

.legend-wrapper {
  text-align: left;
  display:    inline-block;
  float:      right;
}

.legend-wrapper .legend {
  margin-bottom: 10px;
}

.legend {
  border-left:  20px solid black;
  padding-left: 10px;
}

.graph-line .legend-wrapper {
  float:      none;
  display:    block;
  text-align: center;
}

.graph-line .legend-wrapper .legend {
  display: inline-block;
  margin:  10px;
}

.graph-full.graph-pie .legend-wrapper {
}

/* graph table */

.graph-table-header {
  padding:        0;
  text-transform: none;
  vertical-align: bottom;
}

.graph-table-header.vertical > * {
  -webkit-transform-origin: 15px 5px;
  -moz-transform-origin:    15px 5px;
  -ms-transform-origin:     15px 5px;
  -o-transform-origin:      15px 5px;
  transform-origin:         15px 5px;
}

/* morris.js */

.morris-hover.morris-default-style {
  border-radius: 0 !important;
  background:    rgba(255, 255, 255, 0.9) !important;
}

.morris-hover-row-label {
  font-size: 1.2em
}

.morris-hover-point {
  text-align: right;
}

.morris-hover-point-label {
  float: left;
}
