.nodeinfo {
  font-size: 90%;
}

.nodeinfo h2 {
  margin:     30px 0 10px 0;
  padding:    10px;
  text-align: center;
  background: #E0E0D8;
}

.nodeinfo table td {
  padding: 3px 5px;
}

.nodeinfo table th.vertical {
  height: 150px;
}

.nodeinfo table td.th {
  background:   #E1E2DC;
  border-right: 1px solid #BEBFB9;
}

.nodeinfo table td.changed {
  background: rgba(242, 155, 155, 0.7);
}

.nodeinfo .node-unpublished {
  background: transparent;
}
