/* date range */

#gear-ui-date-range-form {
  border:        1px solid #BEBFB9;
  margin-bottom: 1.5em;
  padding:       0.5em;
  background:    #F3F4EE;
}

#gear-ui-date-range-form h2 {
  float:  left;
  margin: 0.5em;
}

#gear-ui-date-range-form .container-inline-date {
  display:        inline-block;
  margin-left:    1em;
  padding-bottom: 0;
}

#gear-ui-date-range-form .container-inline-date label {
  float:        left;
  margin-right: 1em;
}

#gear-ui-date-range-form .container-inline-date .description {
  display: none;
}

#gear-ui-date-range-form .form-actions {
  margin: 0.5em;
  float:  right;
}

#gear-ui-date-range-form .form-actions input.form-submit {
  margin: 0;
}

table th.vertical {
  padding:        5px 0 5px 0;
  text-transform: none;
  vertical-align: bottom;
  height:         200px;
}

table th.vertical > * {
  writing-mode:      tb-rl;
  filter:            flipv fliph;
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
  white-space:       nowrap;
  display:           block;
}